[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
soundfile = "*"
librosa = "*"
pillow = "*"
certifi = ">=2023.7.22"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
